* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 6rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  background-color: rgb(26, 26, 27);
  color: rgba(237, 250, 250, 0.925);
  line-height: 1.6;
}

p {
  margin: 0.5rem 0;
}

a {
  color: rgba(237, 250, 250, 0.925);
}

h2 {
  margin: 0;
  margin-bottom: 0rem;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.card {
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0.5rem 0;
  border-top: 1px solid rgba(237, 250, 250, 0.3);
  /* border-bottom: 1px solid rgba(237, 250, 250, 0.3); */
  /* background-color: rgb(36, 36, 37); */
  /* border-radius: 6px; */
  /* border: 2px solid rgb(45, 45, 46); */
  /* height: 800px; */
}

.card h3 {
  margin: 0.5rem 0 0.5rem 0;
  /* text-align: center; */
}

.card p {
  margin: 0;
}

.card-image {
  width: 100%;
  height: auto;
  /* aspect-ratio: 1 / 1; */
  object-fit: cover;
  display: block;
  margin: 0 0 0.5rem 0;
}

/* Tablet and up */
@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 670px;
    margin: 0 auto; /* center it */
  }
}

.projects-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

/* .back-button {
  text-decoration: none;
  font-size: 0.9rem;
} */

.back-button:hover {
  opacity: 0.7;
}
