* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 6rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  background-color: rgb(26, 26, 27);
  color: rgba(237, 250, 250, 0.925);
  line-height: 1.6;
}

a {
  color: rgba(237, 250, 250, 0.925);
}

h2 {
  margin: 0;
  margin-bottom: 0rem;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

/* Tablet and up */
@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 670px;
    margin: 0 auto;  /* center it */
  }
}
